<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Whist</display-name>
  
   <servlet>
		<servlet-name>Game</servlet-name>
		<jsp-file>/game.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	 	<servlet-name>Game</servlet-name>
	 	<url-pattern>/game</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.Whist.GetGames_HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	 	<servlet-name>Home</servlet-name>
	 	<url-pattern>/home</url-pattern>
	</servlet-mapping>
  
</web-app>